RewriteEngine On
#RewriteLog %{REQUEST_FILENAME}"htaccess.log"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{HTTP_ACCEPT} ^text/html.+
RewriteRule (.*) http://localhost:8888/mockups/html/ [L]

# RewriteCond %{HTTP_ACCEPT} "\*/\*"
# RewriteCond %{REQUEST_FILENAME} (js)$
# RewriteCond %{SCRIPT_URI} bower_components
# RewriteRule .* .*

#RewriteCond %{REQUEST_URI} !index
#RewriteRule (.*) /mockups/html/index.html [L]

# # RewriteCond %{ENV:REDIRECT_STATUS} 200
# # RewriteRule .* - [L]

# #ErrorDocument 404 index